/*reset all color*/
/* color & position setting*/
$background:#0080FF;
$white: #FBFBEF;
$darkblue:(#0101DF , 20%);
$link-color: (#39b54a, 90%);
$bokning: #FF4000;
$text: #190B07;
$font-color: #DF0101;
$marg: 20px;